#registerForm input, #loginForm input{
    width: 95%;
    padding: 0.6rem;
    border: 1px solid #8dc169;
    border-radius: 8px;
    font-size: 1rem;
    background: #ffff;
}

#registerForm  button, #loginForm button, #logoutBtn, #topicsContainer button, #submitBtn {
    padding: 0.5rem 1.5rem;
    background: rgb(95, 179, 65);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

#registerForm  button:hover, #loginForm button:hover, #logoutBtn:hover, #topicsContainer button:hover, #submitBtn:hover {
    background: rgb(225, 68, 60);
}