#registerForm input, #loginForm input, #passwordForm input, #passwordConfirmForm input{
    width: 95%;
    padding: 0.6rem;
    border: 1px solid #8dc169;
    border-radius: 8px;
    font-size: 1rem;
    background: #ffff;
}

#registerForm  button, #loginForm button, #logoutBtn,
#topicsContainer button, #submitBtn, #prevBtn, #nextBtn,
#prevBtn2, #nextBtn2, #passwordForm button, #passwordConfirmForm button, #login-Btn, #login-Btn2{
    padding: 0.5rem 1.5rem;
    background: rgb(95, 179, 65);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

#registerForm  button:hover, #loginForm button:hover, #logoutBtn:hover,
#topicsContainer button:hover, #submitBtn:hover, #prevBtn:hover, #nextBtn:hover, #prevBtn2:hover, #nextBtn2:hover,
#passwordForm button:hover, #passwordConfirmForm button:hover, #login-Btn:hover, #login-Btn2:hover {
    background: rgb(225, 68, 60);
}