#topicsContainer button {
    padding: 0.1rem 0.4rem;
    background: rgb(95, 179, 65);;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;

}

#logoutBtn {
    padding: 0.3rem 0.3rem;
    background: rgb(95, 179, 65);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}