.topic {
    display: flex;
    gap: 20px;
    border-bottom: 2px solid rgb(95, 179, 65);
    padding:10px;
    width: 100%;
}

.topic-info {
    display: flex;
    flex-direction: column;

}

.topic-info * {
    flex-shrink: 1;
    margin:0;
}

.topic-info h5 {
    font-weight: 100;
}


#logoutBtn {
    width:30%;
}

#topicsContainer button {
    padding: 0.1rem 0.4rem;
    background: rgb(95, 179, 65);;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;

}