{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form id="loginForm"  class="flex flex-col items-center justify-center w-[30%] gap-2 mt-12 mb-12 mx-auto p-[20px] rounded-md bg-[#f4fee9] shadow-sm">
        <h1 class="form-title text-2xl decoration-6 mb-2">Log in</h1>
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Log in</button>
    </form>

    <script type="module" src="{% static 'js/login.js' %}">

    </script>
{% endblock %}