{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2 id="topicTitle" data-topic-id="{{pk}}" class="text-2xl decoration-6 mb-2">{{ topic.title }}</h2>
    <div id="quizInfo" class="font-semibold mb-4"></div>

    <div class="buttons fmt-6 space-y-4">
        <div class="pagination flex w-full">
            <button id="prevBtn2" class="hidden mr-auto mb-2">Previous</button>
            <button id="nextBtn2" class="hidden ml-auto mb-2">Next</button>
        </div>

    </div>

    <div id="quiz"></div>

    <div class="buttons fmt-6 space-y-4">
        <div class="pagination flex w-full">
            <button id="prevBtn" class="hidden mr-auto">Previous</button>
            <button id="nextBtn" class="hidden ml-auto">Next</button>
        </div>
        <div class="flex justify-center">
            <button id="submitBtn" class="hidden py-2 px-4">Submit answers</button>
        </div>

    </div>

    <script type="module" src="{% static 'js/frontend_quiz.js' %}">

    </script>
{% endblock %}