{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2 id="topicTitle" data-topic-id="{{pk}}" class="text-2xl decoration-6 mb-2">{{ topic.title }}</h2>
    <div id="quizInfo" class="font-semibold mb-4"></div>

    <div class="buttons fmt-6 space-y-4">
        <div class="pagination flex w-full items-center">
            <div class="flex-1">
                 <button id="prevBtn2" class="hidden">Previous</button>
            </div>

            <div class="flex-1 flex justify-center">
                <div class="pageNumbers flex gap-2"></div>
            </div>
            <div class="flex-1 flex justify-end">
                <button id="nextBtn2" class="hidden">Next</button>
            </div>

        </div>

    </div>

    <div id="quiz"></div>

    <div class="buttons fmt-6 space-y-4">
        <div class="pagination flex w-full items-center">
            <div class="flex-1">
                 <button id="prevBtn" class="hidden">Previous</button>
            </div>

            <div class="flex-1 flex justify-center">
                <div class="pageNumbers flex gap-2"></div>
            </div>
            <div class="flex-1 flex justify-end">
                <button id="nextBtn" class="hidden">Next</button>
            </div>

        </div>
        <div class="flex justify-center">
            <button id="submitBtn" class="hidden py-2 px-4">Submit answers</button>
        </div>

    </div>


    <script type="module" src="{% static 'js/frontend_quiz.js' %}">

    </script>
{% endblock %}